singularity.enabled = true
process.container = '/hpcnfs/data/SM/nfcore_singularity_image/chipseq_latest.sif'
singularity.runOptions = ' --bind /hpcnfs/ '
process.executor = 'pbspro'

env {
    PATH='$PATH:/hpcnfs/software/singularity/2.5.1/bin/:/hpcnfs/software/anaconda/anaconda3/bin/'
}

params {
  max_cpus = 6
  max_memory = 20.GB
  max_time = 200.h
}

process {
    withName: 'NFCORE_CHIPSEQ:CHIPSEQ:PREPARE_GENOME:GTF2BED' {
        memory = 2.GB
        cpus = 2
    }
    
     withName: 'NFCORE_CHIPSEQ:CHIPSEQ:INPUT_CHECK:SAMPLESHEET_CHECK' {
        memory = 2.GB
        cpus = 2
    }
    
    withName: 'NFCORE_CHIPSEQ:CHIPSEQ:PREPARE_GENOME:CUSTOM_GETCHROMSIZES' {
        memory = 8.GB
        cpus = 2
    }
    
    withName: 'NFCORE_CHIPSEQ:CHIPSEQ:FASTQC_TRIMGALORE:FASTQC' {
        memory = 6.GB
        cpus = 2
    }
    
    withName: 'NFCORE_CHIPSEQ:CHIPSEQ:FASTQC_TRIMGALORE:TRIMGALORE' {
        memory = 4.GB
        cpus = 2
    }
    
    withName: 'NFCORE_CHIPSEQ:CHIPSEQ:FASTQC_TRIMGALORE:TRIMGALORE' {
        memory = 4.GB
        cpus = 2
    }
    
    withName: 'NFCORE_CHIPSEQ:CHIPSEQ:PREPARE_GENOME:GENOME_BLACKLIST_REGIONS' {
        memory = 4.GB
        cpus = 2
    }
    
    withName: 'NFCORE_CHIPSEQ:CHIPSEQ:ALIGN_BWA_MEM:BWA_MEM' {
        memory = 12.GB
        cpus = 6
    }
    
     withName: 'NFCORE_CHIPSEQ:CHIPSEQ:ALIGN_BWA_MEM:BWA_MEM' {
        memory = 12.GB
        cpus = 6
    }
    
    withName: 'NFCORE_CHIPSEQ:CHIPSEQ:ALIGN_BWA_MEM:BAM_SORT_SAMTOOLS:SAMTOOLS_SORT' {
        memory = 12.GB
        cpus = 2
    }
    
    withName: 'NFCORE_CHIPSEQ:CHIPSEQ:PICARD_MERGESAMFILES' {
        memory = 4.GB
        cpus = 2
    }
    
    withName: 'NFCORE_CHIPSEQ:CHIPSEQ:MARK_DUPLICATES_PICARD:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS' {
        memory = 8.GB
        cpus = 2
    }
    
     withName: 'NFCORE_CHIPSEQ:CHIPSEQ:FILTER_BAM_BAMTOOLS:BAM_FILTER' {
        memory = 8.GB
        cpus = 2
    }
    
    withName: 'NFCORE_CHIPSEQ:CHIPSEQ:PRESEQ_LCEXTRAP' {
        memory = 8.GB
        cpus = 2
    }
    
     withName: 'NFCORE_CHIPSEQ:CHIPSEQ:PICARD_COLLECTMULTIPLEMETRICS' {
        memory = 4.GB
        cpus = 2
    }
    
     withName: 'NFCORE_CHIPSEQ:CHIPSEQ:BEDTOOLS_GENOMECOV' {
        memory = 4.GB
        cpus = 2
    }
    
     withName: 'NFCORE_CHIPSEQ:CHIPSEQ:UCSC_BEDGRAPHTOBIGWIG' {
        memory = 4.GB
        cpus = 2
    }
    
    withName: 'NFCORE_CHIPSEQ:CHIPSEQ:DEEPTOOLS_PLOTFINGERPRINT' {
        memory = 4.GB
        cpus = 2
    }
    
    withName: 'NFCORE_CHIPSEQ:CHIPSEQ:MACS2_CALLPEAK' {
        memory = 12.GB
        cpus = 6
    }
    
     withName: 'NFCORE_CHIPSEQ:CHIPSEQ:FRIP_SCORE' {
        memory = 4.GB
        cpus = 2
    }
    
     withName: 'NFCORE_CHIPSEQ:CHIPSEQ:MULTIQC_CUSTOM_PEAKS' {
        memory = 4.GB
        cpus = 2
    }
    
     withName: 'NFCORE_CHIPSEQ:CHIPSEQ:HOMER_ANNOTATEPEAKS_CONSENSUS' {
        memory = 4.GB
        cpus = 2
    }
    
     withName: 'NFCORE_CHIPSEQ:CHIPSEQ:ANNOTATE_BOOLEAN_PEAKS' {
        memory = 4.GB
        cpus = 2
    }
    
    withName: 'NFCORE_CHIPSEQ:CHIPSEQ:SUBREAD_FEATURECOUNTS' {
        memory = 4.GB
        cpus = 2
    }
    
     withName: 'NFCORE_CHIPSEQ:CHIPSEQ:DESEQ2_QC' {
        memory = 6.GB
        cpus = 2
    }
    
     withName: 'NFCORE_CHIPSEQ:CHIPSEQ:IGV' {
        memory = 4.GB
        cpus = 2
    }
    
    withName: 'NFCORE_CHIPSEQ:CHIPSEQ:CUSTOM_DUMPSOFTWAREVERSIONS' {
        memory = 4.GB
        cpus = 2
    }
    
    withName: 'NFCORE_CHIPSEQ:CHIPSEQ:MULTIQC' {
        memory = 4.GB
        cpus = 2
    }
}






