singularity.enabled = true
process.container = '/hpcnfs/data/SM/nfcore_singularity_image/chipseq_latest.sif'
singularity.runOptions = ' --bind /hpcnfs/ '
process.executor = 'pbspro'

env {
    PATH='$PATH:/hpcnfs/software/singularity/2.5.1/bin/:/hpcnfs/software/anaconda/anaconda3/bin/'
}

params {
  max_cpus = 10
  max_memory = 32.GB
  max_time = 200.h
}

process {
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:ALIGN_BWA_MEM:BAM_SORT_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_FLAGSTAT' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:ALIGN_BWA_MEM:BAM_SORT_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS' {
    cpus = 2
    memory = 4.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:ALIGN_BWA_MEM:BAM_SORT_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_STATS' {
    cpus = 2
    memory = 4.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:ALIGN_BWA_MEM:BAM_SORT_SAMTOOLS:SAMTOOLS_INDEX' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:ALIGN_BWA_MEM:BAM_SORT_SAMTOOLS:SAMTOOLS_SORT' {
    cpus = 5
    memory = 6.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:ALIGN_BWA_MEM:BWA_MEM' {
    cpus = 6
    memory = 9.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:PREPARE_GENOME:BWA_INDEX' {
    cpus = 12
    memory = 12.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:ANNOTATE_BOOLEAN_PEAKS' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:BEDTOOLS_GENOMECOV' {
    cpus = 2
    memory = 12.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:CUSTOM_DUMPSOFTWAREVERSIONS' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:DEEPTOOLS_COMPUTEMATRIX' {
    cpus = 5
    memory = 4.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:DEEPTOOLS_PLOTFINGERPRINT' {
    cpus = 5
    memory = 2.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:DEEPTOOLS_PLOTHEATMAP' {
    cpus = 1
    memory = 4.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:DEEPTOOLS_PLOTPROFILE' {
    cpus = 1
    memory = 4.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:DESEQ2_QC' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:FASTQC_TRIMGALORE:FASTQC' {
    cpus = 2
    memory = 2.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:FASTQC_TRIMGALORE:TRIMGALORE' {
    cpus = 4
    memory = 4.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:FILTER_BAM_BAMTOOLS:BAM_FILTER' {
    cpus = 2
    memory = 4.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:FILTER_BAM_BAMTOOLS:BAM_REMOVE_ORPHANS' {
    cpus = 3
    memory = 6.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:FILTER_BAM_BAMTOOLS:BAM_SORT_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_FLAGSTAT' {
    cpus = 2
    memory = 4.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:FILTER_BAM_BAMTOOLS:BAM_SORT_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS' {
    cpus = 1
    memory = 4.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:FILTER_BAM_BAMTOOLS:BAM_SORT_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_STATS' {
    cpus = 2
    memory = 4.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:FILTER_BAM_BAMTOOLS:BAM_SORT_SAMTOOLS:SAMTOOLS_INDEX' {
    cpus = 2
    memory = 4.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:FILTER_BAM_BAMTOOLS:BAM_SORT_SAMTOOLS:SAMTOOLS_SORT' {
    cpus = 5
    memory = 6.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:FRIP_SCORE' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:HOMER_ANNOTATEPEAKS_CONSENSUS' {
    cpus = 1
    memory = 4.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:HOMER_ANNOTATEPEAKS_MACS2' {
    cpus = 1
    memory = 4.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:IGV' {
    cpus = 1
    memory = 4.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:INPUT_CHECK:SAMPLESHEET_CHECK' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:MACS2_CALLPEAK' {
    cpus = 4
    memory = 12.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:MACS2_CONSENSUS' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:MARK_DUPLICATES_PICARD:BAM_STATS_SAMTOOLS:SAMTOOLS_FLAGSTAT' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:MARK_DUPLICATES_PICARD:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:MARK_DUPLICATES_PICARD:BAM_STATS_SAMTOOLS:SAMTOOLS_STATS' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:MARK_DUPLICATES_PICARD:PICARD_MARKDUPLICATES' {
    cpus = 2
    memory = 25.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:MARK_DUPLICATES_PICARD:SAMTOOLS_INDEX' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:MULTIQC' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:MULTIQC_CUSTOM_PEAKS' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:MULTIQC_CUSTOM_PHANTOMPEAKQUALTOOLS' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:PHANTOMPEAKQUALTOOLS' {
    cpus = 1
    memory = 3.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:PICARD_COLLECTMULTIPLEMETRICS' {
    cpus = 2
    memory = 3.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:PICARD_MERGESAMFILES' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:PLOT_HOMER_ANNOTATEPEAKS' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:PLOT_MACS2_QC' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:PREPARE_GENOME:CUSTOM_GETCHROMSIZES' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:PREPARE_GENOME:GENOME_BLACKLIST_REGIONS' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:PREPARE_GENOME:GTF2BED' {
    cpus = 4
    memory = 12.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:PRESEQ_LCEXTRAP' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:SUBREAD_FEATURECOUNTS' {
    cpus = 6
    memory = 4.GB
  }
  withName: 'NFCORE_CHIPSEQ:CHIPSEQ:UCSC_BEDGRAPHTOBIGWIG' {
    cpus = 1
    memory = 4.GB
  }
}
